#tan-bar {
	height: 100px;
	background-color: #F5EDE3;
}

#form {
	margin-top: 40px;
}

#orange-bar {
	height: 8px;
	background-color: #ff7700;
	box-shadow: 1px 2px 1px #000000;
}

#tan-box {
	background-color: #F5EDE3;
	border-radius:25px;
	text-align: center;
	margin-top: 40px;
	margin-left: 50px;
	padding-bottom: 30px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 2px 2px 1px #575757;
	opacity:0.85;
}

#tan-box2 {
	background-color: #F5EDE3;
	border-radius:25px;
	text-align: center;
	margin-top: 20px;
	margin-left: 50px;
	padding-bottom: 30px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 2px 2px 1px #575757;
	opacity:0.85;
}

#brand {
	text-align: center;
	color:#ffffff;
	padding-top: 10px;
}

#title {
	color: #154890;	
}

#motto {
	color:#000000;
	padding-bottom: 15px;
	padding-left: 5px;
}

#motto-div {
	opacity:0.7;
	background-color: #eeeeee;
	margin-top: 50px;
}

body {
  	background-image:url('http://i.imgur.com/EikJfFY.jpg');
}



h4 {
	text-align: center;
}

form {
	text-align: center;
}

